// Colors
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.v-application {
    font-family: "Rubik", sans-serif !important;
    color: $color-black;
}

h1 {
    text-align: center;
    font-size: xx-large;
}
